<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration Form</title>
</head>
<body>
    <!-- THIS IS THE REGISTRATION FORM -->
    <div class="registration_form">
        <h1>Registration</h1>
        {% with messages = get_flashed_messages(category_filter=["registration"]) %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/users/registration" method="POST">
            <!-- first name -->
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" name="first_name" placeholder="Enter first name">
            </div>
            <!-- last name -->
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" name="last_name" placeholder="Enter last name">
            </div>
            <!-- email -->
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="text" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <!-- password -->
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <!-- password again -->
            <div class="form-group">
              <label for="confirm_password">Confirm Password</label>
              <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
      

    <!-- THIS IS THE LOGIN FORM -->
    <div class="login_form">
        <h1>Login</h1>
        {% with messages = get_flashed_messages(category_filter=["login"]) %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/users/login", method="POST">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="text" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
      


</body>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</html>

